@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your custom styles here */
@layer components {
  .small-footer-text {
    @apply text-sm my-2 w-fit text-gray-300 hover:scale-105 hover:underline transition duration-150 ease-in-out cursor-pointer;
  }

  .headerBg {
    @apply bg-[#2974F0];
  }

  .buttonRed {
    @apply bg-[#FE4343];
  }

  .whiteSoftBG {
    @apply bg-[#FEFFFF];
  }
}

/* For all scrollbars */
::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-thumb {
  background: #a855f7; /* Thumb color (purple in this case) */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #9333ea; /* Darker thumb on hover */
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* Track color (light gray in this case) */
  border-radius: 10px; /* Rounded corners for track */
}

/* Hide the scrollbar completely (optional for specific containers) */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For hiding scroll bar */
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}
